@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

#contact,
body {
  background: var(--background-color);
  transition: background 0.3s, color 0.3s;
}

.m-auto,
.profile {
  margin: auto;
}

*,
nav ul {
  padding: 0;
  margin: 0;
}

#contact p,
nav ul li a {
  color: var(--primary-accent-color);
}

.change .bar2,
.title {
  opacity: 0;
}

#contact a,
.mobile-nav a,
nav ul li a {
  text-decoration: none;
}

#contact,
body {
  transition: background 0.3s, color 0.3s;
}

section,
section .container {
  max-width: 1200px;
  width: 100%;
}

:root {
  --primary-color: #0fb99a;
  --primary-accent-color: #969696;
  --secondary-color: #252525;
  --background-color: #f7f7f7;
  --dark-mode-background: #000000;
  --dark-mode-text: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  color: var(--secondary-color);
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: auto;
}

body.dark-mode {
  background: var(--dark-mode-background);
  color: var(--dark-mode-text);
}

button.btn {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

button.btn-resume {
  background: 0 0;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

button.btn-resume:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

button.btn-contact,
button.btn-submit {
  background: var(--primary-color);
  border: 2px solid var(--background-color);
  color: #fff;
}

button.btn-contact:hover,
button.btn-submit:hover {
  background: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#profile {
  margin-top: 150px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#contact {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 120px;
}

.subtitle {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.stat-item h3 {
  font-size: 1.5rem;
  color: #a971ff;
  margin: 0;
}

.stat-item p {
  font-size: 0.9rem;
  color: #ccc;
}

.hire-me-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #6c63ff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.hire-me-btn:hover {
  background-color: #4b47c9;
}

#contact h2 span,
#qualifications h2 span,
#skills h2 span {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

#contact p {
  margin-bottom: 30px;
  font-size: 1rem;
}

#contact a,
.content h1 span,
.mobile-nav a:hover,
nav ul li a:hover {
  color: var(--primary-color);
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-form,
.contact-form .form-group {
  gap: 15px;
  display: flex;
}

.contact-detail {
  flex: 1 1 40%;
  text-align: left;
  font-size: 1rem;
}

.contact-detail h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-detail p {
  margin: 10px 0;
}

.contact-form {
  flex: 1 1 50%;
  flex-direction: column;
}

.hidden,
.menu-icon,
.mobile-icon {
  display: none;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  padding: 12px 20px;
  background: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.profile,
.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.skills-left {
  width: 50%;
}

.skills-img {
  width: 70%;
}

.contact-form button:hover {
  background: #019f78;
}

.title {
  animation: 1s ease-in forwards fadeInUp;
}

#contact .title {
  animation: 1s ease-in forwards fadeInRight;
}

.content,
section .container .content {
  max-width: 600px;
  animation: 1.5s ease-in-out fadeInRight;
}

.content {
  flex: 1 1 300px;
}

.content h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: 10px;
}

.content.dark-mode h1 span {
  color: var(--dark-mode-text);
}

.content p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: inherit;
}

.menu-icon,
.mobile-nav a {
  color: var(--secondary-color);
}

.profile-img {
  object-fit: cover;
  animation: 1.5s forwards fadeInLeft;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  animation: fadeInLeft 1.5s forwards, pulse 2s infinite 1.5s;
  /* Adding pulse animation after fadeInLeft completes */
}

.profile {
  overflow: hidden;
  box-shadow: 0 10px 20px #0000001a;
  animation: 1.5s ease-in-out fadeInLeft;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 10000;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}

nav ul li a {
  transition: color 0.3s;
  display: inline-block;
  position: relative;
}

nav ul li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s, left 0.3s;
}

nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

.bar1,
.bar2,
.bar3 {
  height: 2px;
  background-color: var(--primary-color);
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon,
.tabs button {
  background: 0 0;
  cursor: pointer;
}

.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.menu-icon {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 25px;
  border: none;
  z-index: 110;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background: var(--background-color);
  box-shadow: -2px 0 5px #0003;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 100;
}

.mobile-nav.active {
  right: 0;
}

.mobile-nav a {
  text-align: center;
  font-weight: 700;
  width: 100%;
  transition: color 0.3s;
}

.timeline-item.left {
  z-index: 50;
  animation: fadeInLeft 1.5s forwards;
}

.timeline-item.right {
  z-index: 50;
  animation: fadeInRight 1.5s forwards;
}

.contact-container,
.contact-detail,
.contact-form {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container.blur {
  filter: blur(5px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .fa-moon {
  color: #f1c40f;
}

.checkbox-label .fa-sun {
  color: #ff9d00;
}

.checkbox-label .ball {
  background-color: var(--background-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear, background 0.3s;
}

body .checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
  background: var(--dark-mode-background);
}

body.dark-mode #contact,
body.dark-mode .mobile-nav {
  background: var(--dark-mode-background);
  color: var(--dark-mode-text);
  transition: background 0.5s, color 0.5s;
}

body.dark-mode #contact a,
body.dark-mode #contact,
body.dark-mode #contact p,
body.dark-mode a {
  color: var(--dark-mode-text);
  transition: color 0.3s;
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea {
  background: var(--dark-mode-background);
  color: var(--dark-mode-text);
  border: 1px solid var(--dark-mode-text);
}

body.dark-mode .contact-form input::placeholder,
body.dark-mode .contact-form textarea::placeholder {
  color: var(--dark-mode-text);
}

body.dark-mode .contact-form {
  color: var(--dark-mode-background);
}

body.dark-mode .contact-form button:hover {
  background: var(--primary-color);
  color: #fff;
}

.qualification-container {
  width: 100%;
  text-align: center;
  padding: 50px 20px;
}

.qualification-container h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.qualification-container p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
  margin-top: 25px;
}

.tabs button {
  border: none;
  font-size: 1rem;
  margin: 0 10px;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
}

.tabs button:hover {
  border: none;
  font-size: 1rem;
  margin: 0 10px;
  color: var(--primary-color);
  transition: color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
}

.tabs button.active {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin-top: 100px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #ccc;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-item.left {
  left: 0;
  text-align: right;
  align-items: flex-end;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
  align-items: flex-start;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 1;
}

.timeline-item.left::after {
  right: -10px;
}

.timeline-item.right::after {
  left: -10px;
}

.timeline-content {
  background: inherit;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px var(--primary-color);
  width: 350px;
  text-align: left;
}

.timeline-content h3 {
  color: var(--primary-color);
  margin: 0;
  font-size: 1.2rem;
}

.timeline-content p {
  margin: 5px 0;
  color: #555;
}

.timeline-content .year {
  font-size: 0.9rem;
  color: #aaa;
}

section {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Example styles for progress bars */
.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
  height: 10px;
}

.progress-line {
  height: 100%;
  border-radius: 10px;
  transition: max-width 0.5s ease;
}

.php {
  background-color: #4caf50;
}

.fa-php {
  color: #4caf50;
}

.mysql {
  background-color: #007bff;
}

.fa-database {
  color: #007bff;
}

.html {
  background-color: #f44336;
}

.fa-html5 {
  color: #f44336;
}

.css {
  background-color: #ffeb3b;
}

.fa-css3-alt {
  color: #ffeb3b;
}

.js {
  background-color: #ff5722;
}

.fa-js {
  color: #ff5722;
}

.sql {
  background-color: #f39c12;
}

.fa-sql {
  color: #f39c12;
}

.skills-container {
  width: 90%;
  margin-bottom: 0px;
}

.col-2 {
  margin-top: -25px;
  width: 70%;
}

section:last-child>* {
  margin-bottom: 0;
}

section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-top: 100px;
}

section .container .content {
  text-align: center;
}

.social-media {
  margin-top: 45px;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 5px #0000001a;
  cursor: pointer;
}

.wrapper .icon:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover,
.wrapper .icon:hover span {
  text-shadow: 0 -1px 0 #0000001a;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover ::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover {
  background: #e4405f;
  color: #fff;
}

.wrapper .whatsapp:hover {
  background: #0aa539;
  color: #fff;
}

.wrapper .linkedin:hover {
  background: #066699;
  color: #fff;
}

.wrapper .github:hover {
  background: #333;
  color: #fff;
}

.contact-container {
  transform: translateY(20px);
}

.contact-container.animated {
  opacity: 1;
  transform: translateY(0);
}

.contact-detail,
.contact-form {
  transform: translateX(-20px);
}

.contact-detail.animated,
.contact-form.animated {
  opacity: 1;
  transform: translateX(0);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.row .skills-left .col2 {
  flex-basis: 46%;
}

.row .sub-title h2 {
  position: relative;
  color: #242223;
  font-size: 22px;
  font-family: helvetica;
  display: inline-block;
  margin-bottom: 30px;
}

.row .sub-title h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: gray;
}

.row .sub-title h2::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  top: calc(125% - 1px);
  left: 0;
  background-color: #d03645;
}

.subject {
  font-size: 18px;
  color: gray;
  padding-bottom: 15px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: gray;
  border-radius: 15px;
}

.progress-line,
.progress-line::after {
  position: absolute;
}

.progress-bar::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0;
  color: gray;
  font-size: 18px;
}

.progress-line {
  width: 0;
  height: 7px;
  border-radius: 15px;
  top: -1px;
  animation: none;
}

@keyframes animate {
  100% {
    width: 100%;
  }
}

.progress-line::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1201px) {}

@media (min-width: 1025px) and (max-width: 1200px) {}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 481px) and (max-width: 768px) {

  .checkbox-label .ball,
  .social-media {
    /* background-color: var(--background-color);
         */
  }

  .contact-subtitle,
  .title-desc,
  nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
    color: inherit;
    z-index: 99999;
  }

  .mobile-nav {
    width: 50%;
    padding: 20px;
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .checkbox-label,
  .ball {
    width: 50px;
    height: 26px;
    top: -56%;
    right: -6%;
    background-color: var(--primary-color);
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkbox-label .fa-moon {
    color: #f1c40f;
  }

  .checkbox-label .fa-sun {
    color: #ff9d00;
  }

  .checkbox-label .ball {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear, background 0.3s;
  }

  .social-media,
  .social-media .mobile-icon {
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
  }

  body .checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
    /* background: var(--background-color);
         */
  }

  .profile-img {
    margin-top: 90px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .social-media,
  .stats {
    justify-content: center;
  }

  .contact-content,
  .contact-detail {
    text-align: center;
    gap: 0;
  }

  .title {
    margin-bottom: -35px;
  }

  #contact {
    margin-bottom: 40px;
  }

  .profile {
    margin: 20px auto;
    box-shadow: none;
  }

  .row {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .skills-container {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .skills-left {
    margin-top: -10px;
  }

  .skills-left,
  .col-2 {
    width: 100%;
    margin-bottom: 75px;
  }

  .progress-bar::after,
  .subject {
    font-size: 16px;
  }

  .progress-bar {
    height: 4px;
  }

  .progress-line {
    height: 6px;
  }

  .social-media:hover {
    transform: scale(1.1);
  }

  .social-media .mobile-icon {
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 18px;
  }

  .social-media .wrapper {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    transform: translateY(10px);
    opacity: 0;
    padding: 10px;
    border-radius: 10px;
    z-index: 9999;
    transition: 0.3s;
  }

  .social-media.active .wrapper {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .wrapper .icon {
    margin: 10px 0;
    color: var(--primary-color);
    transition: transform 0.3s;
  }

  .wrapper .icon:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 480px) {

  .content h1,
  .content h2 {
    font-size: 1.8rem;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  #profile {
    margin-top: 100px;
  }

  .tabs .education-tab {
    animation: fadeInLeft 1.5s forwards;
  }

  .tabs .work-tab {
    animation: fadeInRight 1.5s forwards;
  }

  .profile-container {
    margin-bottom: 40px;
    margin-top: 100px;
  }

  .profile-container .content {
    padding: 10px;
    margin-top: 10px;
  }

  #contact p,
  .content p,
  .subtitle,
  button {
    font-size: 0.9rem;
  }

  .contact-detail.animated {
    margin-top: 25px;
  }

  .profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    animation: fadeInUp 1.5s forwards, pulse 2s infinite 1.5s;
    position: relative;
    z-index: 1;
  }

  @keyframes rotateClockwise {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    50% {
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  .content {
    text-align: center;
    animation: 1.5s forwards fadeInUp;
  }

  .social-media {
    display: none;
  }

  nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
    color: inherit;
    z-index: 99999;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 29%;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    background: var(--background-color);
    box-shadow: 0 2px 5px #0003;
    position: fixed;
    top: -50%;
    left: 0;
    transition: top 0.4s ease-in-out;
    z-index: 100;
  }

  .checkbox-label {
    position: fixed;
    right: 20%;
  }

  .checkbox-label .ball {
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
    background-color: var(--background-color);
  }

  body.dark-mode .checkbox-label .ball {
    transition: transform 0.3s linear, background 0.5s;
    transform: translateX(25px);
    background-color: var(--dark-mode-background);
  }

  body.dark-mode #contact,
  body.dark-mode .mobile-nav {
    background: var(--dark-mode-background);
    color: var(--dark-mode-text);
    transition: background 0.5s, color 0.5s;
  }

  body.dark-mode .mobile-nav {
    box-shadow: 0 2px 10px #019f78;
  }

  body.dark-mode #contact a,
  body.dark-mode #contact,
  body.dark-mode #contact p,
  body.dark-mode a {
    color: var(--dark-mode-text);
    transition: color 0.3s;
  }

  body.dark-mode .contact-form input,
  body.dark-mode .contact-form textarea {
    background: var(--dark-mode-background);
    color: var(--dark-mode-text);
    border: 1px solid var(--dark-mode-text);
  }

  body.dark-mode .contact-form input::placeholder,
  body.dark-mode .contact-form textarea::placeholder {
    color: var(--dark-mode-text);
  }

  body.dark-mode .contact-form {
    color: var(--dark-mode-background);
  }

  body.dark-mode .contact-form button:hover {
    background: var(--primary-color);
    color: #fff;
  }

  .mobile-nav li {
    list-style-type: none;
  }

  .btn-contact {
    animation: 1.5s forwards fadeInLeft;
  }

  .btn-resume {
    animation: 1.5s forwards fadeInRight;
  }

  button {
    padding: 8px 16px;
  }

  .checkbox-label .ball {
    /* background-color: var(--background-color);
         */
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .ball {
    background-color: var(--background-color);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  body .checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
  }

  .mobile-nav.active {
    align-items: center;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
  }

  body.blur-active .content {
    filter: blur(15px);
  }

  body.blur-active {
    height: 100%;
    overflow: hidden;
  }

  body.blur-active .container {
    pointer-events: none;
    filter: blur(15px);
  }

  section .container {
    margin-top: 25px;
  }

  section {
    padding: 2px;
  }

  .skills-left {
    display: none;
  }

  .col-2 {
    margin-top: -80px;
    width: 90%;
  }

  .wrapper .icon {
    margin: 10px 0;
    color: var(--primary-color);
    transition: transform 0.3s;
  }

  .wrapper .icon:hover {
    transform: scale(1.2);
  }

  .mobile-nav.active li a {
    display: contents;
    font-size: 1rem;
  }

  .timeline-item {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
  }

  .timeline-item::after {
    display: none;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline::after {
    display: none;
    left: 50%;
  }

  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    text-align: center;
    align-items: center;
  }

  .timeline-content {
    font-size: small;
    text-align: center;
    width: 100%;
  }

  .timeline-item.left {
    animation: fadeInLeft 1.5s forwards;
  }

  .timeline-item.right {
    animation: fadeInRight 1.5s forwards;
  }

}